# Dataset: [Crime In Baltimore](https://www.kaggle.com/datasets/sohier/crime-in-baltimore)

## About Dataset
This dataset provides information about the crimes commited in Baltimore city. This dataset is accessible from the link provided above. The dataset covers crimes commited in the city between the years 2016-2020.

This project consists of _ parts:
1. Introduction
2. Data Cleaning
3. Data visualization
4. Data Preprocessing
. . .
5. Conclusion

# 1. Introduction

This data consists of total 15 columns and 2,76,529 observations.

## Attribute description:
* **CrimeDate:** Date of committed crime
* **CrimeTime:** Time of Committed crime
* **CrimeCode:** A unique code assigned to crime based of crime type and weapon used
* **Location:** Location of commited crime
* **Inside/Outside:** Flag shows whether crime was commited inside the house or not
* **Weapon:** Description of weapon used in crime
* **Post:**
* **District:** District of location of committed crime
* **Neighbourhood:**
* **Longitude:** longitude of location of committed crime
* **Latitude:** latitude of location of committed crime
* **Location 1:** tuple of consisting longitude and latitude
* **Primise:**
* **Total incidents:**

## **Let's look at the dataset**

In [3]:
# import required libraries
import numpy as np
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv("drive/My Drive/Data Mining/Project/Assignment - 01/BPD_Part_1_Victim_Based_Crime_Data.csv")
df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Total Incidents
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,I,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO,1
1,09/02/2017,23:00:00,7A,800 NEWINGTON AVE,AUTO THEFT,O,NaN,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,"(39.3136000000, -76.6321700000)",STREET,1
2,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street,1
3,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,I,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO,1
4,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,O,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET,1

In [6]:
df.shape

(276529, 15)

In [7]:
columns = df.columns
columns = columns.tolist()
columns

['CrimeDate',
 'CrimeTime',
 'CrimeCode',
 'Location',
 'Description',
 'Inside/Outside',
 'Weapon',
 'Post',
 'District',
 'Neighborhood',
 'Longitude',
 'Latitude',
 'Location 1',
 'Premise',
 'Total Incidents']

In [8]:
df.isna().sum()

CrimeDate               0
CrimeTime               0
CrimeCode               0
Location             2207
Description             0
Inside/Outside      10279
Weapon             180952
Post                  224
District               80
Neighborhood         2740
Longitude            2204
Latitude             2204
Location 1           2204
Premise             10757
Total Incidents         0
dtype: int64

# 2. Data Cleaning

As it is visible that, there are 1,80,952 cells are null in the weapons column. Which is around 65% rows of the whole data.
Dropping this rows can lead to loss of much significant data, which can reduce the quality of the dataset.

To deal with this null values, we can look at some other attributes, which can be related to this attribute. Like, Crime type can help to determine which type of weapon is used in a perticular crime.

In [9]:
# Find the list of crime types in which there are null entries in the weapon column
crime_with_no_weapon = set()
for idx in df.index:
    if pd.isnull(df['Weapon'][idx]):
        crime_with_no_weapon.add(df['Description'][idx])
crime_with_no_weapon

{'ARSON',
 'ASSAULT BY THREAT',
 'AUTO THEFT',
 'BURGLARY',
 'LARCENY',
 'LARCENY FROM AUTO',
 'RAPE',
 'ROBBERY - CARJACKING',
 'ROBBERY - COMMERCIAL',
 'ROBBERY - RESIDENCE',
 'ROBBERY - STREET'}

As it visible that where weapon values are null, the associated crime types are mostly robbery, theft, arson, larceny, etc. In these types of crime most of the time there are not any weapon involved in crime.

So, the blank cells in weapon cells doesn't indicate that the data is missing, but we can conclude that there could no weapons involved in the crime at the first place.

So, we can fill all this blank cells with the "No weapon" value, .....

In [10]:
# fill blank cells in weapon column with "No weapon" value
df['Weapon'].fillna("NO WEAPON", inplace = True)

In [11]:
df['Total Incidents'].value_counts()

1    276529
Name: Total Incidents, dtype: int64

In the 'Total Incident' columns all the entries are filled with value 1. Which does not provide any value to the dataset. So, there is no loss in dataset quality in dropping this columns.

After this, the 'Location 1' columns contains the tuple of (Longitude, Latitude) as values. There are also separate columns for Longitude and Latitude as well. So, dropping the Location 1 column also does not affect the dataset quality.

In [12]:
# dropping Total Incident, Longitude, and Latitude columns
df.drop(['Total Incidents', 'Location 1'], axis=1, inplace=True)
df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,I,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,ROW/TOWNHO
1,09/02/2017,23:00:00,7A,800 NEWINGTON AVE,AUTO THEFT,O,NO WEAPON,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,STREET
2,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,Street
3,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,I,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,ROW/TOWNHO
4,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,O,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,STREET

In [13]:
df['Inside/Outside'].value_counts()

I          131999
O          129782
Outside      3837
Inside        632
Name: Inside/Outside, dtype: int64

Here, I suggest for Inside and O suggest for outside. There are also few entries in which Outside is written insted of O, and Inside is written insted of I. So, we should change those values with O and I respectively to maintain ....

In [14]:
df.loc[df['Inside/Outside'] == "Outside", 'Inside/Outside'] = 'O'
df.loc[df['Inside/Outside'] == "Inside", 'Inside/Outside'] = 'I'
df['Inside/Outside'].value_counts()

O    133619
I    132631
Name: Inside/Outside, dtype: int64

In [15]:
# After all this, if there are still some entries with null or none values drop them
df.isna().sum()

CrimeDate             0
CrimeTime             0
CrimeCode             0
Location           2207
Description           0
Inside/Outside    10279
Weapon                0
Post                224
District             80
Neighborhood       2740
Longitude          2204
Latitude           2204
Premise           10757
dtype: int64

In [16]:
df.dropna(inplace = True)
df.isna().sum(), df.shape

(CrimeDate         0
 CrimeTime         0
 CrimeCode         0
 Location          0
 Description       0
 Inside/Outside    0
 Weapon            0
 Post              0
 District          0
 Neighborhood      0
 Longitude         0
 Latitude          0
 Premise           0
 dtype: int64,
 (263118, 13))

In [17]:
df.isnull().sum()

CrimeDate         0
CrimeTime         0
CrimeCode         0
Location          0
Description       0
Inside/Outside    0
Weapon            0
Post              0
District          0
Neighborhood      0
Longitude         0
Latitude          0
Premise           0
dtype: int64

We would now save our cleaned data frame into cleaned.csv file

In [18]:
df.to_csv("cleaned.csv")